@page "/acercade"
<h1>INSTITUTO SUPERIOR N°20 SENADOR NÉSTOR JUAN ZAMARO</h1>
<br />
<p>Nombre de la carrera: Técnico Superior en Desarrollo de Software</p>
<br />
<p>Materia: Base de Datos II</p>
<br />
<p>Alumno: Araya Lautaro</p>
<br />
<p>Profesor: Alejandro Ramírez</p>
