<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KENJHI FC</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entrenadores">
                <span class="bi bi-person-fill" aria-hidden="true"></span> Entrenadores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="partidos">
                <span class="bi bi-calendar-fill" aria-hidden="true"></span> Partidos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ligas">
                <span class="bi bi-trophy-fill" aria-hidden="true"></span> Ligas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jugadores">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Jugadores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="equipos">
                <span class="bi bi-shield-fill" aria-hidden="true"></span> Equipos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-shield-fill" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
